/*meetup website style*/

 .navbar {
        margin: 0;
        border-bottom: 0px solid rgba(46,62,72,.12);
        background-color: white;
        padding: 20px;
        width: 1309px;
        height: 45px;
}

 #meetlogo {
  border: 0;
  /* flex-grow: 6; */

  width: 1017.910;
  height:51px;
  /* position:absolute;
  top: 0px;
  right: 0px; */
  /* display: block;
  float:right; */
}

/* .navoptions {
  float: right;
  list-style-type: none;
} */

.navdivflex {
  display: flex;
  background-color: yellow;
  flex-direction: row;
  flex-basis: 500px;
  width: 1309px;
  height: 45px;
}


  .navoption1 a {
  color: #00a2c7;
  font-weight: 600;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-decoration: none;
  /* display: inline-block; */
  width: 121.7px;
  height: 28px;
  flex-basis: 200px;
}

.navoption2 a {
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-decoration: none;
  width: 41.08px;
  height: 28px;
  font-size: 14px;
  color: rgba(46, 62, 72, 0.6);
  flex-basis: 200px;
}

.top_footer {
    background-color: #757575;
    height: 50px;
}

.bottom_footer {
  background-color: #353e48 ;
  display: block;
  color: white;
  height: 150px;

}


.bottom_footer_p1,.bottom_footer_p2{
  list-style: none;
  margin: 0;

}
