/*meetup website style*/
 body {
    margin: 0;
 }
/*  navigation*/
 .navbar {
        margin: 0;
        border-bottom: 0px solid rgba(46,62,72,.12);
        background-color: white;
        padding: 20px;
        width: 1309px;
        height: 45px;
}

.navdivflex {
  display: flex;
  /* background-color: lightgray; */
}

#meetlogo {
  display: inline-flex;
  flex-grow: 4;
}
.navoptions {
  position: relative;
  display: inline-flex;
  flex-grow: 0.0;
}

.navoptions a {
   display: inline-flex;
  text-decoration: none;
}

.navoption1 a {
  padding: 10px;
  color: #00a2c7;
  font-weight: 600;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.navoption2 a {
  padding: 10px;
  color: rgba(46, 62, 72, 0.6);
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/*  video*/
.video {
    width: auto;
    height: auto;
}

/*links  */

div .links {
  /* background-color: yellow; */
  position: relative;
  top: -200px;
  width: 1086px;
  margin-left: auto;
  margin-right: auto;
}
.links a {
  margin: 0 15px;
  display: inline-block;
  padding: 10px;
  background-color:rgba(41,77,107,.12);
  border-radius: 3px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

/*  grid*/

.grid_each_options {
  display: grid;
}

/* Meetup */

.meetup_works {
  padding: 15px;
  background-color: black;
  color: white;
}

.meetup_works a {
  text-decoration: none;
  color: white;
}

.meetup_works h2 {
  text-align: center;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.find_meetup {
  position: relative;
   display: inline-block;
   margin: 10px;
   background: lightgray;
   height: 100px;
   width: 45%;
   font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.create_meetup {
  position: relative;
   display: inline-block;
   margin: 10px;
   background: lightgray;
   height: 100px;
   width: 45%;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}
/* get apps*/

.get_the_app_section {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.get_the_app_section_1 {
  display: inline-block;
  padding: 100px;
/*   background-color: lightgray; */
  flex-grow:1;
}

.get_the_app_section_1 h2 {
  color: rgb(46, 62, 72);
  font-size: 32px;
  font-weight: 500;
  line-height: 35.2px;
  text-align: left;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.get_the_app_section_1 a {
  text-decoration: none;
  color: rgb(0, 162, 199);
  font-size: 16px;
  font-weight: 500;
  line-height: 23.2px;
  text-align: left;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.both_app_store div {
  display: inline-flex;
  padding: 15px; 
}

.get_the_app_section_2 {
   padding: 100px; 
  display: block;
  position: static;
  float: bottom;
  background-color: gray; 
  flex-grow: 1;
}
/*  footer*/
.top_footer {
  background-color: #353e48;
  padding:15px;
  height: 492px;
  width: auto;
}

.top_footer_section_1 {
  padding: 18px;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
}

.top_footer_section_1 a {
    text-decoration: none;
    color: white;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.top_footer_section_1_flex_list_1 h4 {
  text-decoration: none;
  color: white;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.top_footer_section_1_flex_list_1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

ul {
  list-style: none;
}

.bottom_footer {
  background-color: #2f363f ;
  display: block;
  color: white;
  box-sizing: border-box;
  height: 98px;
  width: 100%;
  padding: 15px;

}


.bottom_footer_p1,.bottom_footer_p2 {
  text-align: center;
  margin: 0;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

.bottom_footer_p2 a {
  text-decoration: none;
  color: #fff;
}
