/*meetup website style*/

.navbar {
    display: inline-block;
        border-bottom: 0px solid rgba(46,62,72,.12);
        background-color: white;
}

 #meetlogo {
  border: 0;
  /* position:absolute;
  top: 0px;
  right: 0px; */
  /* display: block;
  float:right; */
}

/* .navoptions {
  float: right;
  list-style-type: none;
} */

.navdiv {
  width: 100px;S
}

  .navoption1 a {
  color: #00a2c7;
  font-weight: 600;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-decoration: none;
  /* display: inline-block; */
  width: 121.7px;
  height: 28px;
}

.navoption2 a {
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-decoration: none;
  width: 41.08px;
  height: 28px;
  font-size: 14px;
  color: rgba(46, 62, 72, 0.6);
  /* display: inline-block; */
}
.navoption3 a {
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-decoration: none;
  width: 41.08px;
  height: 28px;
  font-size: 14px;
  color: rgba(46, 62, 72, 0.6);

}
